---
- ansible.builtin.import_playbook: ./janus.yml
  vars:
    post_processors_replacements:
      - match: "amq_broker[.]xsd"
        replace: "activemq.xsd"
      - match: "org[.]apache[.]amq_broker[.]"
        replace: "org.apache.activemq."
      - match: "hawtio[.]realm=amq_broker"
        replace: "hawtio.realm=activemq"
        file: '[.]yml$'
      - match: "amq_broker[.]org"
        replace: "activemq.org"
      - match: "redhat[.]amq(?!_broker)"
        replace: "redhat.amq_broker"
      - match: "urn:amq_broker"
        replace: "urn:activemq"
      - match: "- amq_broker"
        replace: "- activemq"
        file: "meta/main.yml$"
      - match: "amq_broker[.]apache[.]org"
        replace: "activemq.apache.org"
        file: "README.md$"
    # anything inside <!--start {{ <downstream_placeholder>_delete }} --> and <!--end {{ <downstream_placeholder>_delete }} --> will be removed
    downstream_placeholder_delete:
      - build_status
    # anything inside <!--start {{ <downstream_placeholder>_content }} --> and <!--end {{ <downstream_placeholder>_content }} --> will be replaced with content
    downstream_placeholder_content:
      - placeholder: galaxy_download
        content: |
          ### Installing the Collection from Automation Hub

          Before using the collection, you need to setup Ansible Automation Hub as galaxy server; then install it via the CLI:

              ansible-galaxy collection install redhat.amq_broker
      - placeholder: support
        content: |
          ## Support

          redhat.amq_broker collection v{{ galaxy_version | default('0.0.0-dev') }} is a Beta release and for [Technical Preview](https://access.redhat.com/support/offerings/techpreview).
          If you have any issues or questions related to collection, please don't hesitate to contact us on <Ansible-middleware-core@redhat.com> or open an issue on 
          <https://github.com/ansible-middleware/amq/issues>
      - placeholder: rhn_credentials
        content: |
          #### Downloading from the Customer Portal

          The `redhat.amq.amq_broker` role supports downloading and installing from the Red Hat Customer Portal, when the following variables are defined:
          ```
          rhn_username{{':'}} '<customer_portal_username>'
          rhn_password{{':'}} '<customer_portal_password>'
          ```

          The downloaded file will be stored in the controller working directory, and then distributed to target nodes.