---
- ansible.builtin.import_playbook: janus.yml
  vars:
    post_processors_replacements:
     - match: "eap_install_workdir: /opt/eap"
       replace: "eap_install_workdir: /opt"
     - match: "eap[.]statistics-enabled"
       replace: "wildfly.statistics-enabled"
     - match: "eap-configuration:"
       replace: "wildfly-configuration:"
     - match: "repo1.maven.org/maven2/org/eap/prospero"
       replace: "repo1.maven.org/maven2/org/wildfly/prospero"
    galaxy:
      documentation: https://access.redhat.com/documentation/en-us/red_hat_jboss_enterprise_application_platform
      homepage: https://access.redhat.com/products/red-hat-jboss-enterprise-application-platform
    # anything inside <!--start {{ <downstream_placeholder>_delete }} --> and <!--end {{ <downstream_placeholder>_delete }} --> will be removed
    downstream_placeholder_delete:
      - build_status
    # anything inside <!--start {{ <downstream_placeholder>_content }} --> and <!--end {{ <downstream_placeholder>_content }} --> will be replaced with content
    downstream_placeholder_content:
      - placeholder: galaxy_download
        content: |
          ### Installing the Collection from Automation Hub

          Before using the collection, you need to setup Ansible Automation Hub as galaxy server; then install it via the CLI:

              ansible-galaxy collection install redhat.eap
      - placeholder: support
        content: |
          ## Support

          redhat.eap collection v{{ galaxy_version | default('0.0.0-dev') }} is for [Technical Preview](https://access.redhat.com/support/offerings/techpreview).
          If you have any issues or questions related to collection, please don't hesitate to contact us on <Ansible-middleware-core@redhat.com> or open an issue on
          <https://github.com/ansible-middleware/wildfly/issues>
      - placeholder: rhn_credentials
        content: |
          ## Downloading products from the Customer Portal

          The `redhat.eap.eap_install` role supports downloading and installing from the Red Hat Customer Portal using credentials associated to a service account. After
          login in the customer portal and navigating to the hybrid cloud console, select the [services account tab](https://console.redhat.com/application-services/service-accounts)
          to create one, if needed. Client ID and Client secret associated to the service account needs to be provided with the following variables are defined:
          ```
          rhn_username{{':'}} '<client_id>'
          rhn_password{{':'}} '<client_secret>'
          ```

          The downloaded product archive will be stored in the controller working directory, and then distributed to target nodes.

          When patching is requested, via the `eap_apply_cp` variable, the most recently published cumulative patch will be installed; to use a specific patch version instead,
          set it with the `eap_patch_version` variable.

          NOTE: downgrading patches is not supported.
